[submodule "SingingSword/themes/ananke"]
	path = SingingSword/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "SingingSword/themes/m10c"]
	path = SingingSword/themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "SingingSword/themes/hugo-theme-console"]
	path = SingingSword/themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "SingingSword/themes/story"]
	path = SingingSword/themes/story
	url = https://github.com/xaprb/story.git
